body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: white;
    gap: 10px;
} 

#team-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container-back-button{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#first-container{
    display: flex;
    gap: 100px;
}

#table-container{
    width: 60%;
    
}

#table{
    border-radius: 5px;
}

#image-logo{
    width: 100px;
}

#card-title{
    color: black;
}

#container-buttons{
    display: flex;
    justify-content: space-around;
}

#editTeam-image{
    width: 100px;
}

#container-editTeam-image{
 display: flex;
 justify-content: space-around;
 align-items: center;
}