body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: white;
    gap: 10px;
} 

#table-container{
    width: 60%;
    
}

#table{
    border-radius: 5px;
}

#image-logo{
    width: 100px;
}

#card-title{
    color: black;
}
/* #team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */